
<div class="homepage">
  <div class="container">
    <!-- Hero Section -->
    <section class="hero">
      <div class="text-content">
        <h1>Amravati's Best Software Training Institude</h1>
        <p>“Our institute offers industry-focused IT training with expert mentors, practical hands-on sessions, and real-world projects. We provide courses in programming, web development, cloud, data analytics, and emerging technologies to make students job-ready. With personalized guidance, modern labs, and placement support, we ensure every learner gains the skills needed to succeed in today’s competitive IT industry.”</p>
        <div class="buttons">
          <button class="primary">Get Free Counselling</button>
          <a class="wa-btn"
            href="https://wa.me/919307457319?text=Hi%20Ujwal%20Academy,%20I%27m%20interested%20in%20your%20courses."
             target="_blank" rel="noopener">
              <i class="bi bi-whatsapp"></i> Chat Now!
          </a>        </div>
      </div>

      <div class="image-content">
        <img src="assets/home.jpeg" alt="Coding session" />
      </div>
    </section>
  </div>


  <!-- Advantages Section -->
  <section class="advantages">
    <div class="advantage">
      <i class="icon">🎯</i>
      <p>Free Interview Training</p>
    </div>
    <div class="advantage">
      <i class="icon">💻</i>
      <p>Live practical sessions</p>
    </div>
    <div class="advantage">
      <i class="icon">👨‍🏫</i>
      <p>Expert trainers with 10+ years</p>
    </div>
  </section>
</div>
<app-courses></app-courses>
<app-stats></app-stats>
<app-our-team></app-our-team>
<app-why-ujwal></app-why-ujwal>
<app-reviews></app-reviews>
<app-about></app-about>
